/*---tipografia*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext);

body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	padding:0
}
h2{
	font-family: 'Montserrat';
	color: #363f40;
}
h3{
	font-family: 'Montserrat';
	color: #363f40;
}

p{
	font: 'Montserrat';
	color: #363f40;
	margin: 0;
}



#mast_head{
color:#5463B1;
background-size: cover;
margin: 0;
padding: 0;
text-align: center;
}
#mast_fijos{
	color: white;
	position: absolute;
	top:25%;
	margin: 0 5%;
}
#logo_header{
	height: 125px;
}

#info_mast_head{
	text-align: center;
	height: 70%;
	padding: 0em 0em 3em 0em;
}

#info_mast_head ul{
	display: inline-block;
	padding: 0px;

}

.icon_info{
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}
.item_info{
	font-family: 'Montserrat';
	font-size: 20px;
	color: #363f40;
	display: inline-block;
	margin: 1em 2em 0 2em ;
	list-style: none;
	text-align: center;
}
#sign_facebook{
	color: white;
	font-family: 'Montserrat';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	background-color: #5463B1;
	padding: 1em 5em;
}



/*Card style*/
.contenedor_cards{

	text-align: center;
	margin: auto;
	display:inline-block;
	margin: 2em;
}

.contenedor_cards a{
	color: #363f40;
}

.contenedor_cards a:hover{
	color: ‪#‎59913C‬;
}
.rutas_favoritas_home{
	margin: 2em;
	text-align: center;
	display: inline-block;
}

.card_principales{
	width: 18em;
	display: inline-block;
}
.ruta-header{
	font-family: 'Montserrat';
	text-align: left;
	font-size: 20px;
}
.ruta-description {
	font-size: 15px;
	text-align: left;
}

.rutas_favoritas_gastro{
	margin: 1em;
	text-align: center;
	display: inline-block;
}

.card_ruta{

	width: 12em;
	display: inline-block;

}

/*Ruta Gastro*/

#header_ruta{
margin: 0;
}

.place-description{
	font-size: 11px;
	text-align: left;
}

.review_place{
	text-align: left;
	color: #ffc107;
}
.review_place_not{
	color: gray;
}

.review_card{
	border-top: 1px gray;
}
