{%extends 'base.html'%}
{%load static%}
{%load polymerdep%}

{%block componentes%}

<style>
	google-map{
		height: 400px;
	}
	#map{
		height: 400px;
		width: 100%;
	}
</style>

{%endblock componentes%}



{%block content%}
<div id="header_ruta">
  <h2>¡Caéle! a la ruta del taco</h2>
  <p> Más que una ruta, un reto. ¿Lograrás probar todas las recomendaciones culinarias en cada lugar visitado?</p>
</div>
<div id="map" style="width:80% !important; margin:auto"></div>

<div class="contenedor_cards">
  <h2>Disfruta de las mejores taquerías:</h2>
  <div class="rutas_favoritas_gastro">
      <paper-card class="card_ruta" fadeImage="True"
image="{%static 'images/taco1.jpg'%}">
      <div class="card-content">
        <div class="ruta-header">Tacos Frontera
          
        </div>
        <p class="place-description">Alvaro Obregón, Cuauhtemoc </p>
        <p class="place-description">$・Taquería, Bar</p>
      </div>
      <div class="review_card">
        <iron-icon class="star review_place" icon="star"></iron-icon>
        <iron-icon class="star review_place" icon="star"></iron-icon>
        <iron-icon class="star review_place" icon="star"></iron-icon>
        <iron-icon class="star review_place" icon="star"></iron-icon>
        <iron-icon class="star review_place_not" icon="star"></iron-icon>

      </div>
    </paper-card> 
  </div>

  <div class="rutas_favoritas_gastro">
      <paper-card class="card_ruta" image="{%static 'images/taco2.jpg'%}">
        <div class="card-content">
          <div class="ruta-header">Chonitos
            
          </div>
          <p class="place-description">Alvaro Obregón, Cuauhtemoc </p>
          <p class="place-description">$・Taquería, Bar</p>
        </div>
        <div class="review_card">
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place_not" icon="star"></iron-icon>

        </div>
      </paper-card> 
  </div>

  <div class="rutas_favoritas_gastro">
      <paper-card class="card_ruta" image="{%static 'images/taco3.jpg'%}">
        <div class="card-content">
          <div class="ruta-header">El Villamelón
            
          </div>
          <p class="place-description">Bombilla, Insurgentes Sur </p>
          <p class="place-description">$・Taquería Familia</p>
        </div>
        <div class="review_card">
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place_not" icon="star"></iron-icon>
          <iron-icon class="star review_place_not" icon="star"></iron-icon>

        </div>
      </paper-card> 
  </div>

  <div class="rutas_favoritas_gastro">
      <paper-card class="card_ruta" image="{%static 'images/taco4.jpg'%}">
        <div class="card-content">
          <div class="ruta-header">Los machetes
            
          </div>
          <p class="place-description">Alvaro Obregón, Cuauhtemoc </p>
          <p class="place-description">$・Taquería, Bar</p>
        </div>
        <div class="review_card">
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place" icon="star"></iron-icon>
          <iron-icon class="star review_place_not" icon="star"></iron-icon>

        </div>
      </paper-card> 
  </div> 


</div>


{%endblock content%}




{%block javas%}

<script>
	function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    {%for punto in puntos%}
    center: {lat: 19.393482, lng: -99.131939},
    {%endfor%}
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

var flightPlanCoordinates = [
  {%for punto in puntos%}
    {lat: {{punto.latitude}}, lng: {{punto.longitude}}},
  {%endfor%}
  ];

  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 6
  });

  flightPath.setMap(map);


  // {%for punto in puntos%}
  // myLatLon={lat:19.393482,lng:-99.135726}
  marker=makeMarker({lat:19.393482,lng:-99.135726});
  marker.setMap(map);

  marker=makeMarker({lat:19.395304,lng:-99.134181});
  marker.setMap(map);

  marker=makeMarker({lat:19.391205,lng:-99.132582});
  marker.setMap(map);

  marker=makeMarker({lat:19.393431,lng:-99.130544});
  marker.setMap(map);

  marker=makeMarker({lat:19.391103,lng:-99.129836});
  marker.setMap(map);

  marker=makeMarker({lat:19.393269,lng:-99.128409});
  marker.setMap(map);
  // {%endfor%}
}

function makeMarker(myLatLon){
	var marker = new google.maps.Marker({
    position: myLatLon,
    title:"Hello World!"
});




var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
      '<div id="bodyContent">'+
      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
      'sandstone rock formation in the southern part of the '+
      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
      'south west of the nearest large town, Alice Springs; 450&#160;km '+
      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
      'Aboriginal people of the area. It has many springs, waterholes, '+
      'rock caves and ancient paintings. Uluru is listed as a World '+
      'Heritage Site.</p>'+
      '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p>'+
      '</div>'+
      '</div>';


var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

	return marker;
}




 
  
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQriPLIj2wAsBWJHXnWdDPIo_Q9Q2fo7A&callback=initMap&libraries=places">
</script>

{%endblock javas%}