{%extends 'base.html'%}
{%load static%}
{%load polymerdep%}


{%block titulo%}
	Main
{%endblock titulo%}

{%block componentes%}


{{"paper-icon-button/paper-icon-button.html"|dep}}


{%endblock componentes%}



{%block content%}

	<div id="mast_head">
		<img src="{%static 'images/caele_overlay.jpg'%}"> 
		<div id="mast_fijos">
			<img id="logo_header" src="{%static 'images/caele_logo_250px.png'%}"> 
			<h3 > Descubre el turismo urbano de CDMX, la mejor forma de conocer los mejores lugares es subiendose al micro. ¡Súbale que hay lugares!</h3>
			<button id="sign_facebook"> Registrate</button>
		</div>
	</div>

	<div id="info_mast_head">
		<ul>
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon1.png'%}"> Selecciona</li>
				<p>La categoría de tu ruta</p>
			</ul>
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon2.png'%}"> Encuentra</li>
				<p>O crea una ruta desde cero</p>
			</ul>			
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon3.png'%}"> ¡Caéle!</li>
				<p>Vive tu experiencia urbana.</p>
			</ul>
			
		</ul>
	</div>
	<div class="contenedor_cards">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta1.jpg'%}">
		    <div class="card-content">
		      <div class="ruta-header">Graffiti
		        
		      </div>
		      <p class="ruta-description">Descubre la ruta del street art en CDMX</p>
		    </div>
		  </paper-card>	
		</div>

		<a href="{%url 'gastro'%}">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta2.jpg'%}">
			    <div class="card-content">
			      <div class="ruta-header">Gastronómicas
			        
			      </div>
			      <p class="ruta-description">Te retamos a comer un taco por lugar.</p>
			    </div>
			</paper-card>
		</div>
		</a>

		<a href="{%url 'compara'%}">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/icon3.jpg'%}">
		    <div class="card-content">
		      <div class="ruta-header">Revisa todas las rutas
		        
		      </div>
		      <p class="ruta-description">Encuentra tu ruta.</p>
		    </div>
			</paper-card>
		</div>
		</a>


		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta4.png'%}">
		    <div class="card-content">
		      <div class="ruta-header">¡Crea tu Propia Ruta!
		        
		      </div>
		      <p class="ruta-description">¡Cáele y arma tu ruta!</p>
		    </div>
			</paper-card>
		</div>


	</div>


{%endblock content%}

{%block javas%}

{%endblock javas%}
