{%extends 'base.html'%}
{%load static%}
{%load polymerdep%}


{%block titulo%}
	Main
{%endblock titulo%}

{%block componentes%}


{{"paper-icon-button/paper-icon-button.html"|dep}}


{%endblock componentes%}



{%block content%}

	<div id="mast_head">
		<img src="{%static 'images/caele_overlay.jpg'%}"> 
		<div id="mast_fijos">
			<img id="logo_header" src="{%static 'images/caele_logo_250px.png'%}"> 
			<p id="header_banner"> Descubre el turismo urbano de CDMX, la mejor forma de conocer los mejores lugares es subiendose al micro. <br> ¡Súbale que hay lugares!</p>
			<button id="sign_facebook"> REGÍSTRATE</button>
		</div>
	</div>

	<div id="info_mast_head">
		<h2>¿Cómo funciona?</h2>
		<ul>
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon1.png'%}"> Selecciona tu ruta</li>
				<p>Encuentra una ruta de acuerdo a tus gustos</p>
			</ul>
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon2.png'%}"> Ubica tu transporte</li>
				<p>Ubicas las rutas de microbus cercanas</p>
			</ul>			
			<ul>
				<li class="item_info"><img class="icon_info" src="{%static 'images/icon3.png'%}"> ¡Caéle!</li>
				<p>Vive tu experiencia urbana.</p>
			</ul>
			
		</ul>
	</div>
	<div class="contenedor_cards">
		<h2>Nuestras rutas favoritas</h2>
		<h3>Explora entre nuestras categorías, las rutas del turismo urbano que hemos creado para ti, encontrarás cosas como: la ruta de las mejores tortas de la ciudad, mejores mezcalerías, la ruta del mejor selfie, etc.</h3>
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta1.jpg'%}">
		    <div class="card-content">
		      <div class="ruta-header">Ruta del Graffiti
		        
		      </div>
		      <p class="ruta-description">Descubre el street art en CDMX</p>
		    </div>
		  </paper-card>	
		</div>

		<a href="{%url 'gastro'%}">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta2.jpg'%}">
			    <div class="card-content">
			      <div class="ruta-header">Ruta del Taco
			        
			      </div>
			      <p class="ruta-description">Te retamos a comer un taco por lugar.</p>
			    </div>
			</paper-card>
		</div>
		</a>

		<a href="{%url 'compara'%}">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/icon3.jpg'%}">
		    <div class="card-content">
		      <div class="ruta-header">Revisa todas las rutas
		        
		      </div>
		      <p class="ruta-description">Encuentra tu ruta.</p>
		    </div>
			</paper-card>
		</div>
		</a>


		<a href="{%url 'custom'%}">
		<div class="rutas_favoritas_home">
			  <paper-card class="card_principales" image="{%static 'images/ruta4.png'%}">
		    <div class="card-content">
		      <div class="ruta-header">¡Crea tu Propia Ruta!
		        
		      </div>
		      <p class="ruta-description">¡Cáele y arma tu ruta!</p>
		    </div>
			</paper-card>
		</div>
		</a>


	</div>


{%endblock content%}

{%block javas%}

{%endblock javas%}
