{%extends 'base.html'%}
{%load static%}
{%load polymerdep%}

{%block componentes%}

{%endblock componentes%}



{%block content%}
	<div id="mast_head">
		<img src="{%static 'images/caele_overlay.jpg'%}"> 
		<div id="mast_fijos">
			<img id="logo_header" src="{%static 'images/caele_logo_250px.png'%}"> 
			<h3 > Descubre el turismo urbano de CDMX, la mejor forma de conocer los mejores lugares es subiendose al micro. ¡Súbale que hay lugares!</h3>
		</div>
	</div>

	<div id="info_mast_head">
		<ul>
			<li class="item_info"><img class="icon_info" src="{%static 'images/image1.jpg'%}"> Descubre tus gustos </li>
			<li class="item_info"><img class="icon_info" src="{%static 'images/image1.jpg'%}">Encuentra una ruta</li>
			<li class="item_info"><img class="icon_info" src="{%static 'images/image1.jpg'%}">¡Caéle a CDMX!</li>
		</ul>
	</div>


{%endblock content%}

{%block javas%}

{%endblock javas%}